<?xml version="1.0" encoding="utf-8" ?>

<!-- Configuration Options for Diplo.LinkChecker -->

<LinkChecker>
	
	<!-- Number of Umbraco Pages to Check At Once (larger numbers will slow things down) -->
	<pageSize>5</pageSize>

	<!-- What part of the page to check - can be EntireDocument, Body or Head -->
	<documentSection>EntireDocument</documentSection>

	<!-- Can be HEAD, GET or POST (HEAD is quickest but some servers don't respect it (eg. Wikipedia). Use GET for those.) -->
	<checkLinksRequestMethod>HEAD</checkLinksRequestMethod>

	<!-- Whether to follow redirects or not  -->
	<allowRedirects>True</allowRedirects>

	<!-- Timeout in milliseconds before deciding if a link is not found. 
		 Lower numbers will speed things up but may cause false-negatives with slow servers. -->
	<timeOutMiliseconds>20000</timeOutMiliseconds>
	
</LinkChecker>
