<pageStateIconsConfigurationSection xmlns="UmBristol.PageStateIcons">
  <rules>
    <add name="umbracoNaviHide" xPath="umbracoNaviHide = '1'" overlayIconPath="/Umbraco/Plugins/PageStateIcons/UmbracoNaviHide.png"
      description="Adds overlay to show the page is hidden from navigation."
      top="7" left="11" />
    <add name="umbracoRedirect" xPath="self::*[@isDoc and normalize-space(umbracoRedirect)]"
      overlayIconPath="/Umbraco/Plugins/PageStateIcons/UmbracoRedirect.png"
      description="Adds an overlay to show the page is a redirect page."
      top="0" left="22" />
    <add name="umbracoInternalRedirectId" xPath="self::*[@isDoc and normalize-space(umbracoInternalRedirectId) and not(normalize-space(umbracoRedirect))]"
      overlayIconPath="/Umbraco/Plugins/PageStateIcons/umbracoInternalRedirectId.png"
      description="Adds an overlay to show the page is a redirect page."
      top="0" left="22" />
  </rules>
</pageStateIconsConfigurationSection>