<StructureExtensions>
    <DocTypes>
        <add id="1055" allowedAtRoot="true" />
        <add id="1031" defaultChild="1032" allowedAtRoot="true" />
        <add id="1095" defaultChild="1097" />
        <add id="1051" defaultChild="1083" />
        <add id="1259" defaultChild="1260" />
    </DocTypes>
</StructureExtensions>