<%@ Master Language="C#" MasterPageFile="~/masterpages/StandardPage.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="StandardPage" runat="server">
    <umbraco:Macro Alias="Slider" runat="server" />
    <umbraco:Macro Alias="BodyText" runat="server" />
    <umbraco:Macro Alias="SectionBoxes" runat="server" />
</asp:Content>